# virtual environment
venv/
.venv/

# environment variables
.env

# Python cache
__pycache__/
*.pyc

# OS junk
.DS_Store
Thumbs.db

# logs
*.log

# downloads / generated data (VERY relevant for your project)
downloads/
vector_db/
sample.txt
sample_en.txt
*.wav
*.m4a
*.webm
summary.txt
transcript.json
cookies.txt

# Jupyter (if you ever use notebooks)
.ipynb_checkpoints/